* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #fffcf2;
}

header {
    width: 100%;
    height: 100px;
}

.logo {
    float: left;
    height: 100%;
    width: 20%;
    padding: 10px;
}

.logo-image {
    height: 100%;
    object-fit: contain;
    object-position: top;
}

.nav-container {
    float: right;
    width: 70%;
    height: 100%;
    padding: 10px;
    padding-right: 10%;
}

.nav-links {
    display: inline-block;
    height: 100%;
    padding: 27px;
    margin-left: 30%;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    padding: 20px;
    font-size: 22px;
}

.nav-links a:hover {
    color: #ff6f61; /* Change color on hover */
}

.login-btn {
    float: right;
    padding: 10px 25px;
    border: none;
    background-color: #fff6d4;
    font-size: 22px;
    border-radius: 7px;
    margin-top: 20px;
}

.login-btn:hover {
    background-color: #ffd700; /* Change color on hover */
}


.main {
    width: 100%;
}

.home-page{
    width: 100%;

}

.home-page-left {
    float: left;
    width: 60%;
    padding-bottom: 4%;
    padding-left: 10%;

}

.heading-content {
    margin-top: 20%;
}

.heading-content h1 {
    font-size: 6vw;
}

.theme {
    color: #ffd700;
}

.heading-content p {
    margin-top: 22px;
    font-size: 22px;
    line-height: 30px;
}

.heading-content button {
    margin-top: 50px;
    padding: 10px 25px;
    font-size: 22px;
    border: none;
    border-radius: 7px;
    background-color: #fff6d4;
}

.heading-content button:hover {
    background-color: #ffd700; /* Change color on hover */
}

.home-page-right {
    width: 40%;
    overflow: hidden;
    padding-top: 5rem;
}

.home-page-right img {
    width: 90%;
    height: auto;
    filter: grayscale(30%);
    object-fit: cover;
    object-position: center;
    transform: scaleX(-1);
}

.center-page {
    width: 100%;
    height: 100vh;
    padding: 4% 0;
	display: inline-block
}

.center-page h2 {
    font-size: 2vw;
    text-align: center;
    padding: 20px;
	
}
.container {
    width: 100%;
    /* background-color: green; */
}

.item {
    width: 30%;
    border-radius: 10px;
    border: 1px solid #ffd70077;
    box-shadow: 0px 0px 5px 1px #888;
    display: inline-block;
    padding: 20px;
    margin-left: 2%;
    margin-top: 2%;
}
.item-top-container{
    width: 100%;
    text-align: center;
}
.item-img-contrainer{
    width: 50%;
	max-height:30vh;
    display: inline-block;
    overflow: hidden;
    float: left;
}
.item-img-contrainer img{
    width: 100%;
    height: 50%;
    object-fit: contain;
    object-position: top;
}
.item-heading{
    display: inline-block;
    max-width: 50%;
    float: right;
    margin-top: 20px;
}
.item-heading h3{
    font-size: 2vw;
    padding: 10px;
}
.item-heading h4{
    font-size: 1vw;
}
.item-heading p{
    font-size: 1vw;
    text-align: center;
    padding: 10px;
}
.item-bottom-container{
    min-width: 100%;
    padding: 20px;
    float: inline-end;
}
.item-bottom-container ul{
    padding: 20px;
}
.item-bottom-container ul li {
    font-size: 1vw;
}
.footer-container{
	height:40vh;
	overflow:hidden;
}
.foot-logo{
	height:100%;
	width:33%;
	display:inline-block;
	float:left;
}
.footer-log{
	width:100%;
	height:100%;
	object-fit:contain;
	object-position:top;
}
.address-container{
	margin-top:5%;
	display:inline-block;
	width:33%;
	font-size:22px;
}
.address{
}
.input-feed{
	background-color:transparent;
	padding:10px 20px;
	border:none;
	border-bottom:1px solid #000;
}
input[type="submit"]{
	border:none;
	padding:10px 20px;
	font-size:16px;
	background-color:
}
.footer-right{
	margin-top:5%;
	display:inline-block;
	float:right;
	width:33%;
}
.social{
	margin-top:1vw;
}
.social a{
	text-decoration:none;
	color:#000;
	font-size:2vw;
	margin:10px;
}