:root{
  --light: #ffffff;
  --dark: #000000;
  --primary-color: #EFF3F6;
  --ascant-color: #f8fafc;
  --border-color: #ecf1f6;
  --btn-text: #0a63d8;
  --primary-text: #6f7d93;
  --secondary-text: #c5d0dd;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
html , body{
  width: 100%;
  height: 100%;
  background: var(--primary-color);
}
.left{
  float: left;
  width: 18%;
  height: 100%;
  /* background-color: red; */
}
.right{
  float: right;
  width: 82%;
  height: 100%;
}
.navbar{
  padding: 20px;
  display: flex;
  padding-left: 0;
  justify-content: space-between;
}
.nav-btn-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Button styling section */
.btn{
  text-decoration: none;
  color: var(--dark);
  background: var(--light);
  padding: 9px 13px;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.btn-theme{
  background: var(--btn-text);
  color: var(--light);
}
.btn:disabled{
  background: #0a63d871;
  cursor: not-allowed;
}
.drag-btn{
  font-size: 1.7rem;
  cursor: pointer;
  padding: 5px;
}
.btn-wrapper{
  text-align: right;
  .btn{
      color: var(--btn-text);
      background: transparent;
      font-weight: 600;
      font-size: 1rem;
  }
}


/* Text size styling */
.text-md{
  font-size: 1.7rem;
}
.text-xl{
  font-size: 2rem;
}

/* Form styling  */
.form-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
}
.form-wrapper{
  width: 100%;
  padding: 20px;
  background-color: var(--light);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  box-shadow: 0 0 20px -17px #505050;
}
.seventh{
  flex: 0 0 calc(100% - (100%/3) - 1.2rem);
}
.input-group{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.half{
  flex: 0 0 calc(100% / 2 - .5rem);
}
.full{
  flex: 0 0 100%;
  /* background-color: yellow; */
}
.third{
  flex: 0 0 calc(100% / 3 - .7rem);
  /* height: 100%; */
}
.d-flex{
  display: flex;
  justify-content: space-between;
}
.form-label{
  display: block;
  font-size: 1.2rem;
  margin-bottom: 7px;
  color: #79869a;
}
.form-input{
  display: block;
  width: 100%;
  font-size: 1.1rem;
  padding: 15px 10px;
  background: var(--ascant-color);
  border: none;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 7px;
}
.table-wrapper .form-input{
  background: var(--light);
}
.form-input::placeholder{
  color: var(--secondary-text);
  font-weight: 400;
}


/* add item form tabel style */
.table-wrapper{
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
  background: var(--ascant-color);
}
.t-head th{
  padding: 20px 0;
  text-align: left;
  padding-left: 10px;
  background: var(--primary-color);
}
.t-body tr:nth-child(1) td{
  padding-top: 20px;
}
.t-head th:nth-child(1){
  padding-left: 10px;
}
.t-body td{
  padding: 3px;
}
.t-body td:nth-child(2){
  width: 25%;
}
.t-body td:nth-last-child(1){
  padding-right: 10px;
}
.t-body td:nth-child(3){
  width: 30%;
}
.t-body td:nth-child(5){
  width: 10%;
}
.table-row:hover {
  background-color: #d4e3ff44;
}
#company_form{
  height: 80px;
  transition: all ease-in-out .3s;
}
#toggle_btn:hover #company_form{
  background-color: red;
}