:root{
  --light: #ffffff;
  --dark: #000000;
  --primary-color: #EFF3F6;
  --ascant-color: #f8fafc;
  --border-color: #ecf1f6;
  --btn-text: #0a63d8;
  --primary-text: #6f7d93;
  --secondary-text: #34435a;
  --invoice-theme : rgb(32, 32, 222);

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
html , body{
  width: 100%;
  height: 100%;
  background: var(--primary-color);
}
.left{
  float: left;
  width: 18%;
  height: 100%;
  position: fixed;
}
.right{
  float: right;
  width: 82%;
  height: 100%;
}
.side-nav{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.profile-wrapper{
  width: 100%;
  background-color: var(--light);
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.circle-sm{
  width: 60px;
  height: 60px;
  background-color: yellow;
  border-radius: 50%;
  overflow: hidden;
}
.imageFix{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list-group{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.list-group .list-group{
  padding-left: 2rem;
  margin-top: .5rem;
  height: 0;
  transition: all ease-in-out .1s;
  transform: scaleY(0);
  transform-origin: top;
}

.navbar{
  padding: 20px;
  display: flex;
  padding-left: 0;
  justify-content: space-between;
}
.nav-btn-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Button styling section */
.btn{
  text-decoration: none;
  background: none;
  color: var(--dark);
  font-size: 1.2rem;
  border-radius: 7px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.btn-light{
  background: var(--light);
  color: var(--dark);
  padding: 9px 13px;
}
.btn-theme{
  background: var(--btn-text);
  color: var(--light);
  padding: 9px 13px;
}
.btn:disabled{
  background: #0a63d871;
  cursor: not-allowed;
  color: #505050 !important;
}
.drag-btn{
  font-size: 1.4rem;
  color: var(--secondary-text);
  cursor: pointer;
  padding: 5px;
  &&:hover{
    color: var(--btn-text);
  }
}
.btn.btn-danger{
  color: var(--primary-text) !important;
  i{
   font-size: 1.3rem; 
   font-weight: 100;
  }
  &&:hover{
    color: red !important;
  }
}
.btn-wrapper{
  text-align: right;
  .btn{
      color: var(--btn-text);
      background: transparent;
      font-weight: 600;
      font-size: 1rem;
      padding: 5px;
      /* background-color: red; */
  }
}
.list-group li .btn{
    display: block;
    width: 100%;
    text-align: left;
    padding: 9px 13px;
    color: var(--secondary-text);
    &&:hover{
      background-color: var(--light);
      color: var(--dark);
    }
  }
.btn-icon{
  font-size: 1.5rem;
}
.preveiw-close{
  align-self: flex-end;
}
.btn.active{
  background-color: var(--light);
  box-shadow: 0 0 5px -3px #000;
}
/* Text size styling */
.text-blue{
  color: var(--btn-text);
}
.text-secondary{
  text-transform: uppercase;
  color: var(--primary-text);
  padding-bottom: .5rem;
}
.text-m{
  font-size: 1.3rem;
  display: block;
  font-weight: 600;
}
.text-md{
  font-size: 1.7rem;
}
.text-xl{
  font-size: 2rem;
}
.text-2xl{
  font-size: 3rem;
  margin: 5px 0;
}

/* Form styling  */
.form-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  /* position: relative; */
}
.form-wrapper{
  width: 100%;
  padding: 20px;
  background-color: var(--light);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 20px -17px #505050;
}
.seventh{
  flex: 0 0 calc(100% - (100%/3) - 1.2rem);
}
.input-group{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.half{
  flex: 0 0 calc(100% / 2 - .5rem);
}
.full{
  flex: 0 0 100%;
}
.third{
  flex: 0 0 calc(100% / 3 - .7rem);
}
.bill-container{
  position: sticky;
  top: 82px;
}
.d-flex{
  display: flex;
  justify-content: space-between;
}
.form-label{
  display: block;
  font-size: 1.2rem;
  margin-bottom: 7px;
  color: #79869a;
}
.form-input{
  display: block;
  width: 100%;
  font-size: 1.1rem;
  padding: 13px 10px;
  background: var(--ascant-color);
  border: none;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 7px;
}
.table-wrapper .form-input{
  background: var(--light);
}
.form-input::placeholder{
  color: var(--primary-text);
  font-weight: 300;
}


/* add item form tabel style */
.table-wrapper{
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
  background: var(--ascant-color);
}
.t-head th{
  padding: 20px 0;
  text-align: left;
  padding-left: 10px;
  background: var(--primary-color);
  font-weight: 600;
}
.t-body tr:nth-child(1) td{
  padding-top: 20px;
}
.t-body tr:nth-last-child(1) td{
  padding-bottom: 20px;
}
.t-head th:nth-child(1){
  padding-left: 20px;
}
.t-body td{
  padding:5px 3px;
}
.t-body td:nth-child(2){
  width: 25%;
}
.t-body td:nth-last-child(1){
  padding-right: 10px;
}
.t-body td:nth-child(3){
  width: 25%;
}
.t-body td:nth-child(5){
  width: 10%;
}
.table-row:hover {
  background-color: #d4e3ff44;
}




/* Total amount footer */
.footer{
  background-color: var(--ascant-color);
  margin: -20px;
  margin-top: 15px;
  padding: 20px;
}



#company_form{
  /* height: 80px; */
  transition: all ease-in-out .3s;
}
#toggle_btn:hover #company_form{
  background-color: red;
}

#myForm::after{
  display: none;
  content: "";
  border-radius: 10px;
  width: calc(82% - 14px);
  height: 90%;
  background-color: rgba(180, 180, 180, 0.501);
  position: absolute;
  cursor: not-allowed;
}
#myForm.hide-after::after {
  display: none;
}






/* review file style  */
.preview{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 90%;
  max-width: calc(1100px + 1rem);
  background-color: #0a63d81b;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 60px -20px #0000005f;
}
.genrated-invoice{
  width: 100%;
  overflow-y: scroll;
}
.genrated-invoice::-webkit-scrollbar{
  display: none;
}
.review-container{
  width: 100%;
  max-width: 1100px;
  background-color: #fff;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  line-height: 1;
}

.flex-column{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-transform: none;
  font-style: normal;
}
.text-r{
  text-align: right;
}
.head-sm{
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.head-xsm{
  color: var(--invoice-theme);
  font-weight: 600;
}
.text-dark{
  color: #000;
}
.bold{
  font-weight: 600;
}
.f-wrap{
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 40%;
}
.review-container table{
  border-collapse: collapse;
  border-top: 3px solid var(--invoice-theme);
}
.review-container thead th{
  padding: 1rem 0 2rem 0;
}
.review-container tbody td{
  border-bottom: 2px solid rgba(139, 139, 139, 0.326);
  padding: .6rem 0;
}
.review-container tbody tr:nth-last-child(1) td{
  border-bottom: none;
}
.review-container th,td{
  text-align: right;
}
.review-container th:nth-child(1) ,td:nth-child(1){
  text-align: left;
}
.review-container td span{
  display: block;
  padding: 5px 0;
}
.bill-data{
  width: 50%;
  margin-left: 50%;
}
.border-sm{
  border-bottom: 2px solid rgba(139, 139, 139, 0.326);
  padding: 1rem 0;
}
.border-blue{
  border-bottom: 3px solid var(--invoice-theme);
  padding-bottom: 1rem;
}
.w-50{
  width: 45%;
}