:root{
    --light-gray:#FBFBFB;
    --theme-color:#FF4E6A;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
}
.main-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.sidebar{
    background-color: var(--light-gray);
    height: auto;
}

.brand-logo{
    width: 150px;
}
.profile-container{
    gap: 1vh;
}

.wrapper-bottom{
    /* background-color: red; */
    display: flex;
}
.left{
    /* background-color: yellow; */
    flex: 0 0 70%;
}
.right{
    flex: 0 0 30%;
    /* display: none; */
}
.dp-md{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid red;
}
.dp-sm{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
}
.imageFix{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.theme-btn{
    background-color: var(--theme-color);
    color: #fff;
    font-size: 1.2rem;
    box-shadow: 0 0 10px 3px #6c6c6c42;
}

.list-wrapper{
    list-style: none;
}
.text-md{
    font-size: 1.2rem;
    font-weight: 500;
    color: #ABAEB3;
    &&:hover{
        color: var(--theme-color) !important;
    }
    &&:active{
        color: rgb(21, 255, 0) !important;
    }
}
.text-l{
    font-size: 1.7rem;
    font-weight: 100;
    &&:hover{
        color: var(--theme-color);
    }

}
.nav-link i{
    font-size: 1.6rem;
}

/* Carausal style */
.cards-wrapper {
    display: flex;
    gap: 1rem;
    padding: 1rem;

  }
  .card {
    box-shadow: 2px 6px 10px 0px rgba(22, 22, 26, 0.18);
    border: none;
    overflow: hidden;
    flex: 0 0 calc(100% / 4 - 1rem);
  }
  .image-container{
    width: 100%;
    max-height: 270px;
  }

.card-wrapper{
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    padding: 0 1rem;
    flex-wrap: wrap;
}
.third{
    flex: 0 0 calc(100% / 3 - 3rem);

}
.image-wrapper{
    max-height: 350px;
    border-radius: 7px;
    overflow: hidden;
}
.banner-md{
    width: 70%;
    margin: 0 auto;
    max-height: 400px;
    background-color: red;
}
@media (max-width:600px) {
    aside{
        position: fixed;
        visibility: hidden;
    }
    main{
    flex: 0 0 100%;

    }
    .wrapper-bottom{
        flex-direction: column;
        width: 100%;
    }
    .card{
        flex: 0 0 calc(100% / 3 - 1rem);
    }
    .image-wrapper{
        flex: 0 0 calc(100% / 1 - 1rem);
    }

}