*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}
.btn{
    padding: 7px 15px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 7px;
    margin: 10px 0;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(189, 189, 189);
    margin-top: 20px;
    border-radius: 10px;
}
.row-wrapper{
    border-collapse: collapse;
    width: 100%;
}
.row td{
    padding: 10px;
}
.even {
    background-color: #f0f0f0;
  }
.odd {
    background-color: #c9c9c9;
  }
  .dots{
    color: red;
    cursor: pointer;
  }
  #more{
    display: none;
  }
  #less-dots{
    display: none;
  }